[Unit]
Description="Pulsario based sprinkler automation"

[Install]

[Service]
ExecStart=npm start
WorkingDirectory=/opt/sprinkler
EnvironmentFile=/opt/sprinkler/.env
